.idea
/*

!/install.xml
!/README.md
!/build_release.sh

!/admin/controller/extension/module/antispambycleantalk.php
!/admin/language/**/extension/module/antispambycleantalk.php
!/admin/model/extension/module/antispambycleantalk.php
!/admin/view/template/extension/module/antispambycleantalk.twig

!/catalog/controller/extension/module/antispambycleantalk.php
!/catalog/language/**/extension/module/antispambycleantalk.php
!/catalog/model/extension/module/antispambycleantalk.php
!/catalog/view/theme/**/template/extension/module/antispambycleantalk.twig

!/system/
/system/*
!/system/library/
/system/library/*
!/system/library/antispambycleantalk/
