*
!install.xml
# for 3.x and common
!/admin/
!/admin/controller/
!/admin/controller/extension/
!/admin/controller/extension/module/
!/admin/controller/extension/module/antispambycleantalk.php

!/admin/language/
!/admin/language/en-gb/
!/admin/language/en-gb/extension/
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/antispambycleantalk.php

!/admin/language/ru-ru/
!/admin/language/ru-ru/extension/
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/antispambycleantalk.php
!/admin/language/ru-ru/module/
!/admin/language/ru-ru/module/antispambycleantalk.php

!/admin/model/
!/admin/model/extension/
!/admin/model/extension/module/
!/admin/model/extension/module/antispambycleantalk.php

!/admin/view/template/
!/admin/view/template/extension/
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/antispambycleantalk.twig

!/catalog/
!/catalog/controller/
!/catalog/controller/extension/
!/catalog/controller/extension/module/
!/catalog/controller/extension/module/antispambycleantalk.php

!/catalog/language/
!/catalog/language/en-gb/
!/catalog/language/en-gb/extension/
!/catalog/language/en-gb/extension/module/
!/catalog/language/en-gb/extension/module/antispambycleantalk.php

!/catalog/language/ru-ru/
!/catalog/language/ru-ru/extension/
!/catalog/language/ru-ru/extension/module/
!/catalog/language/ru-ru/extension/module/antispambycleantalk.php

!/catalog/model/
!/catalog/model/extension/
!/catalog/model/extension/module/
!/catalog/model/extension/module/antispambycleantalk.php

!/catalog/view/
!/catalog/view/javascript/
!/catalog/view/javascript/antispambycleantalk.js
!/catalog/view/theme/
!/catalog/view/theme/default/
!/catalog/view/theme/default/template/
!/catalog/view/theme/default/template/extension/
!/catalog/view/theme/default/template/extension/module/
!/catalog/view/theme/default/template/extension/module/antispambycleantalk.twig

!/system/
!/system/library/
!/system/library/antispambycleantalk
!/system/library/antispambycleantalk/*
!/system/library/antispambycleantalk/Cleantalk/*
!/system/library/antispambycleantalk/Cleantalk/Antispam/*
!/system/library/antispambycleantalk/Cleantalk/Common/*

# especially for 2.3.*
!/admin/view/template/extension/module/antispambycleantalk.tpl

!/catalog/view/theme/default/template/extension/module/antispambycleantalk.tpl

# especially for 2.* - 2.2.*
!/admin/controller/module/
!/admin/controller/module/antispambycleantalk.php

!/admin/language/english/
!/admin/language/english/module/
!/admin/language/english/module/antispambycleantalk.php

!/admin/view/template/module/
!/admin/view/template/module/antispambycleantalk.tpl

!/catalog/controller/module/
!/catalog/controller/module/antispambycleantalk.php

!/catalog/language/english/
!/catalog/language/english/module/
!/catalog/language/english/module/antispambycleantalk.php

!/catalog/model/module/
!/catalog/model/module/antispambycleantalk.php

!/catalog/view/theme/default/template/module/
!/catalog/view/theme/default/template/module/antispambycleantalk.tpl
